{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap core CSS -->

        <!--Для слабовидящих-->
        <link rel="stylesheet" type="text/css" media="screen,projection" href="{% static 'lo/css/master_access.css' %}" />
        <link rel="stylesheet" type="text/css" media="screen,projection" href="{% static 'lo/css/blind-ext.css' %}" />

        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{% static 'lo/js/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'lo/js/common_access.js' %}"></script>

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        <style>
            .d-flex {
                display: flex;
            }

            .d-none {
                display: none;
            }

            .btn {
                background-color: #fff;
                border: 1px solid #000;
                padding: 5px;
                cursor: pointer;
            }

            input {
                padding: 5px 10px;
            }
        </style>

        {% for item in seo_titles %}
            {% if request.path == item.url  %}
                <title>{{ item.seo_title }}</title>
                <meta name="description" content="{{ item.seo_desc }}">
                <meta name="keywords" content="{{ item.seo_kwrds }}">
            {% endif %}
        {% endfor %}

        {% block title %}
        {% endblock title %}
    </head>

    <body class="">
        <!-- BEGIN #out -->
        <div id="out">
            <!-- BEGIN #access -->
            <h2 class="text_only">Настройки отображения</h2>
            <div class="access">
                <dl  class="a-fontsize">
                    <dt>Размер шрифта:</dt>
                    <dd><a href="#" rel="fontsize-small"  class="a-fontsize-small"></a></dd>
                    <dd><a rel="fontsize-normal" href="#" class="a-fontsize-normal"></a></dd>
                    <dd><a href="#" rel="fontsize-big" class="a-fontsize-big"></a></dd>
                </dl>
                <dl  class="a-colors">
                    <dt>Цвета сайта</dt>
                    <dd><a href="#" rel="color1" class="a-color1"></a></dd>
                    <dd><a href="#" rel="color2" class="a-color2"></a></dd>
                    <dd><a href="#" rel="color3" class="a-color3"></a></dd>
                </dl>
                <dl  class="a-images">
                    <dt>Изображения</dt>
                    <dd><a rel="imagesoff" href="#" class="a-imagesoff"></a></dd>
                </dl>
                <p class="a-settings"><a href="#">Настройки</a></p>
                <div class="popped">
                    <h2>Настройки шрифта:</h2>
                    <p class="choose-font-family">Выберите шрифт <a class="font-family" id="sans-serif" rel="sans-serif" href="#">Arial</a> <a class="font-family" rel="serif" id="serif" href="#">Times New Roman</a></p>
                    <p class="choose-letter-spacing">Интервал между буквами <span>(Кернинг)</span>: <a class="letter-spacing" id="spacing-small" rel="spacing-small" href="#">Стандартный</a> <a rel="spacing-normal" class="letter-spacing" id="spacing-normal" href="#">Средний</a> <a rel="spacing-big" class="letter-spacing" id="spacing-big" href="#">Большой</a></p>
                    <h2>Выбор цветовой схемы:</h2>
                    <ul class="choose-colors">
                        <li id="color1"><a rel="color1" href="#"><span>&mdash;</span>Черным по белому</a></li>
                        <li id="color2"><a rel="color2" href="#"><span>&mdash;</span>Белым по черному</a></li>
                        <li id="color3"><a rel="color3" href="#"><span>&mdash;</span>Темно-синим по голубому</a></li>
                        <li id="color4"><a rel="color4" href="#"><span>&mdash;</span>Коричневым по бежевому</a></li>
                        <li id="color5"><a rel="color5" href="#"><span>&mdash;</span>Зеленым по темно-коричневому</a></li>
                    </ul>
                    <p class="saveit"><a class="closepopped" href="#"><span>Закрыть панель</span></a> <a class="default" href="#"><span>Вернуть стандартные настройки</span></a></p>
                </div>
            </div>
            <!-- END #access -->

            <!-- BEGIN #header -->
            <div class="header">
                <h1><a href="{% url 'index' %}"><span>ООО «Адыгеясервис»</span></a></h1>
            </div>
            <!-- END #header -->

            <!-- BEGIN #nav -->
            <div class="nav">
                <ul class="gnav">
                    <li><a href="{% url 'index' %}" class="{% if request.path == '/' %}here{% endif %}">Главная</a></li>
                    {% for item in footer_pages %}
                        <li>
                            <a href="{{ item.url }}" class="{% if item.url in request.path %}here{% endif %}">{{ item.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <p class="switch_version"><a href="{% url 'change_view' %}">Обычная версия сайта</a></p>

            </div>
            <div>
            <form action="{% url 'search_result' %}">
                <div style="display: flex">
                    <input type="text" name="query" placeholder="найти..." class="more-btn" style="width: 80%;">
                    <button class="more-btn"style="width: 18%;" type="submit">Поиск</button>
                </div>
            </form>
            </div><br><br>
            <!-- END #nav -->
            <!-- BEGIN #page -->
            {% block content %}
            {% endblock %}
            <!-- END #page -->
            <!-- BEGIN #footer -->
            <div class="footer">
                <p class="switch_version"><a href="{% url 'change_view' %}">Обычная версия сайта</a></p>
                <div class="copy">
                    <p class="what"><a href="http://wlms.info" target="_blank" class="url">Webline Masters</a></p>
                </div>
            </div>
            <!-- END #footer -->

        </div>
        <!-- END #out -->
        <script src="{% static 'js/fontawesome-all.min.js' %}"></script>
        <script src="{% static 'js/back.js' %}"></script>
    </body>
</html>
