{% extends 'base.html' %}

{% block title %}
    <title>{{ direction.seo_title }}</title>
    <meta name="description" content="{{ direction.seo_desc }}">
    <meta name="keywords" content="{{ direction.seo_kwrds }}">
{% endblock title %}

{% block content %}
<main role="main">
    <div class="container py-4 py-md-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{% url 'directions' %}">Направления</a></li>
            <li class="breadcrumb-item active">{{ direction.title }}</li>
        </ol>
        <h1 class="mb-4 mb-lg-5">{{ direction.title }}</h1>

        <div class="row">
            {% for item in direction.courses.all %}
            <div class="col-lg-3 col-md-6">
                <div class="product-item position-relative border rounded p-4">
                    <a href="{{ item.get_absolute_url }}" title="" class="stretched-link d-block h5 text-decoration-none mb-4">{{ item.title }}</a>
                    <span class="d-block">{{ item.duration }}</span>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</main>
{% endblock %}