{% extends 'base.html' %}

{% block content %}
<div class="jumbotron mb-0 mb-md-5">
    <div class="container">
        <div class="socials mb-3">
            {% for item in socials %}
            <a href="{{ item.link }}" title="{{ item.name }}" target="_blank" class="mr-3"><i class="fab fa-{{ item.short_name }} fa-lg"></i></a>
            {% endfor %}
        </div>

        <h2 class="mb-5">{{ index.title }}</h2>
        <a href="{% url 'directions' %}" title="" class="btn btn-white btn-lg">Направления</a>
    </div>
</div>

<main role="main">
    <section class="py-4 py-sm-5">
        <div class="container py-0 py-xl-4">
            <h2 class="h1 w-50">Направления</h2>
            <p class="mb-5 w-50">{{ index.dir_text }}</p>

            <div class="row no-gutters subjects-row">
                {% for item in directions %}
                <div class="col-md-6">
                    <div class="subject-card p-4">
                        <div class="subject-card-caption pb-3">
                            <a href="{{ item.get_absolute_url }}" title="" class="h4 text-dark text-decoration-none stretched-link d-block mb-2">{{ item.title }}</a>
                            <p class="small text-muted m-0">{{ item.desc|striptags }}</p>
                        </div>
                        <div class="subject-card-image" style="background-image: url({{ item.image_small.url }})"></div>
                    </div>
                </div>
                {% endfor %}

                <div class="col-md-6">
                    <div class="subject-card subject-card-last d-flex align-items-center p-5">
                        <div class="text-center">
                            <p class="h5 mb-4">Обучение проводится по лицензии министерства образования</p>
                            <a href="{{ index.link }}" title="" class="btn btn-primary">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-4 py-sm-5">
        <div class="container py-0 py-xl-4">
            <h2 class="h1 w-50">Процесс обучения</h2>
            <p class="mb-4 w-50">{{ index.process_text }}</p>
            <div class="row">
                {% for item in index.processes.all %}
                <div class="col-lg-3 col-6 mx-auto">
                    <div class="step-item text-center px-0 px-sm-3 py-4">
                        <div class="step-item-icon mx-auto d-flex justify-content-center align-items-center mb-4">
                            <img src="{{ item.image.url }}" alt="">
                        </div>

                        <h3 class="h5 mb-2">{{ item.title }}</h3>
                        <p class="small mb-0">{{ item.text }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section class="py-4 py-sm-5">
        <div class="container py-0 py-xl-4">
            <div class="row">
                <div class="col-lg-8 mb-4 mb-sm-5 pb-0 pb-xl-4">
                    <div class="d-flex justify-content-between align-items-end mb-5">
                        <h2 class="h1 m-0">Некоторые работы наших студентов</h2>
                        <a href="{% url 'works' %}" title="" class="h-more text-decoration-none">все работы<i class="fas fa-angle-right fa-xs ml-2"></i></a>
                    </div>

                    <div class="photo-swipe img-grid row" itemscope itemtype="http://schema.org/ImageGallery">
                        {% for item in index.index_works.all %}
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="mb-4 col-md-4 col-6">
                            <a href="{{ item.image.url }}" itemprop="contentUrl" data-size="{{ item.image.width }}x{{ item.image.height }}">
                                <img src="{{ item.image_small.url }}" itemprop="thumbnail" alt="...">
                            </a>
                            <figcaption itemprop="caption description" class="d-none">Информация об изображении, если нужно</figcaption>
                        </figure>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 ml-auto">
                    <div class="border rounded p-4">
                        <h2 class="h3">Новости</h2>
                        {% for item in news %}
                        <div class="news-item-sm mb-4">
                            <a href="{{ item.get_absolute_url }}" title="" class="d-block stretched-link text-dark text-decoration-none mb-1">{{ item.title }}</a>
                            <span class="d-block text-uppercase">{{ item.created|date:"d E" }}</span>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-0 pb-sm-5 pt-0">
        <div class="container pb-0 pt-4 pb-sm-4">
            <div class="question-block px-3 py-4 py-sm-5 px-sm-5 mx-n3 mx-sm-auto">
                <div class="row">
                    <div class="col-xl-6 mb-4 mb-sm-5 mb-xl-0">
                        <h2 class="mb-3 pt-2">Остались вопросы?</h2>
                        <p class="mb-4">{{ index.contact_text }}</p>
                        <a href="{% url 'contacts' %}" title="" class="h-more text-decoration-none text-dark">контакты<i class="fas fa-angle-right fa-xs ml-2"></i></a>
                    </div>

                    <div class="col-xl-6" id="FeedBackBlock">
                        <form class="needs-validation" novalidate method="post" action="{% url 'feedback' %}" id="FeedBackForm">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-label-group smaller mb-4">
                                        {{ feedback_form.name }}
                                        <label>Ваше имя</label>

                                        <div class="invalid-feedback">
                                            Это обязательное поле
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-label-group smaller mb-4">
                                        {{ feedback_form.email_or_phone }}
                                        <label>E-mail или телефон</label>

                                        <div class="invalid-feedback">
                                            Это обязательное поле
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-label-group textarea smaller mb-4">
                                {{ feedback_form.text }}
                                <label>Ваше сообщение</label>

                                <div class="invalid-feedback">
                                    Это обязательное поле
                                </div>
                            </div>

                            <div class="d-flex justify-content-between flex-column flex-lg-row mb-4 mb-lg-0">
                                {% include '__recaptcha.html' %}
                                <p class="m-0 smallest">Нажимая кнопку <span class="text-nowrap">"<i class="fas fa-paper-plane fa-sm mr-1"></i>отправить"</span>, вы даёте согласие на <a href="/personal-data/" target="_blank">обработку персональных данных</a></p>
                            </div>

                            <button class="btn btn-white mb-2" type="submit"><i class="fas fa-paper-plane mr-3"></i>Отправить</button>
                        </form>


                        <div class="alert alert-danger d-none alert-dismissible fade small show" role="alert">
                            <strong>Произошла ошибка! </strong>Обновите страницу и попробуйте ещё раз.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="form-success d-none justify-content-center align-items-center">
                            <div class="text-center">
                                <i class="far fa-check-circle fa-5x text-dark mb-4"></i>
                                <h3 class="h5 mb-1 mt-0">Спасибо за ваше сообщение!</h3>
                                <p class="small">Мы получили его, и скоро с вами свяжемся.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

{% include '__photoswipe.html' %}
{% endblock %}