{% extends 'base.html' %}

{% block content %}
<div class="jumbotron mb-0 mb-md-5">
    <div class="container">
        <div class="socials mb-3">
            <a href="https://vk.com/" title="Вконтакте" target="_blank" class="mr-3"><i class="fab fa-vk fa-lg"></i></a>
            <a href="https://www.instagram.com/" title="Instagram" target="_blank" class="mr-3"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="https://www.youtube.com/" title="Youtube" target="_blank" class="mr-3"><i class="fab fa-youtube fa-lg"></i></a>
        </div>

        <h2 class="mb-5">Обучаем востребованным профессиям</h2>
        <a href="catalogue.html" title="" class="btn btn-white btn-lg">Направления</a>
    </div>
</div>

<main role="main">
    <section class="py-4 py-sm-5">
        <div class="container py-0 py-xl-4">
            <h2 class="h1 w-50">Направления</h2>
            <p class="mb-5 w-50">Желание быть красивыми и делать красивыми других никогда не выйдет из моды. Для этого мы осуществляем подготовку высококвалифицированных специалистов - профессионалов 2- 3 разряда по ряду специальностей сервисного обслуживания</p>

            <div class="row no-gutters subjects-row">
                <div class="col-md-6">
                    <div class="subject-card p-4">
                        <div class="subject-card-caption pb-3">
                            <a href="products-list.html" title="" class="h4 text-dark text-decoration-none stretched-link d-block mb-2">Работа с волосами</a>
                            <p class="small text-muted m-0">Парикмахер / парикмахер-стилист / свадебные и вечерние прически / плетение кос</p>
                        </div>
                        <div class="subject-card-image" style="background-image: url(data-images/subject-1.jpg)"></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="subject-card p-4">
                        <div class="subject-card-caption pb-3">
                            <a href="products-list.html" title="" class="h4 text-dark text-decoration-none stretched-link d-block mb-2">Ногтевой сервис</a>
                            <p class="small text-muted m-0">Маникюр / наращивание и дизайн ногтей / педикюр</p>
                        </div>
                        <div class="subject-card-image" style="background-image: url(data-images/subject-2.jpg)"></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="subject-card p-4">
                        <div class="subject-card-caption pb-3">
                            <a href="products-list.html" title="" class="h4 text-dark text-decoration-none stretched-link d-block mb-2">Красота лица и тела</a>
                            <p class="small text-muted m-0">Косметик / визажист / наращивание ресниц / ламинирование ресниц / коррекция и окрашивание бровей / восковая депиляция / шугаринг</p>
                        </div>
                        <div class="subject-card-image" style="background-image: url(data-images/subject-3.jpg)"></div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="subject-card subject-card-last d-flex align-items-center p-5">
                        <div class="text-center">
                            <p class="h5 mb-4">Обучение проводится по лицензии министерства образования</p>
                            <a href="content.html" title="" class="btn btn-primary">подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="py-4 py-sm-5">
        <div class="container py-0 py-xl-4">
            <h2 class="h1 w-50">Процесс обучения</h2>
            <p class="mb-4 w-50">Для обучения принимаются все желающие в возрасте от 15 лет. Форма обучения - дневная. Обучение платное. Комплектование групп производится в течение всего года.</p>
            <div class="row">
                <div class="col-lg-3 col-6 mx-auto">
                    <div class="step-item text-center px-0 px-sm-3 py-4">
                        <div class="step-item-icon mx-auto d-flex justify-content-center align-items-center mb-4">
                            <img src="data-images/teacher.svg" alt="">
                        </div>

                        <h3 class="h5 mb-2">Теория</h3>
                        <p class="small mb-0">Обучаем по программам института развития профессионального образования</p>
                    </div>
                </div>

                <div class="col-lg-3 col-6 mx-auto">
                    <div class="step-item text-center px-0 px-sm-3 py-4">
                        <div class="step-item-icon mx-auto d-flex justify-content-center align-items-center mb-4">
                            <img src="data-images/haircut.svg" alt="">
                        </div>

                        <h3 class="h5 mb-2">Практика</h3>
                        <p class="small mb-0">Практические занятия составляют 75% от общего количества учебного времени</p>
                    </div>
                </div>

                <div class="col-lg-3 col-6 mx-auto">
                    <div class="step-item text-center px-0 px-sm-3 py-4">
                        <div class="step-item-icon mx-auto d-flex justify-content-center align-items-center mb-4">
                            <img src="data-images/curl.svg" alt="">
                        </div>

                        <h3 class="h5 mb-2">Экзамены</h3>
                        <p class="small mb-0">На выпускных экзаменах присутствуют представители индустрии, которые предлагают работу выпускникам</p>
                    </div>
                </div>

                <div class="col-lg-3 col-6 mx-auto">
                    <div class="step-item text-center px-0 px-sm-3 py-4">
                        <div class="step-item-icon mx-auto d-flex justify-content-center align-items-center mb-4">
                            <img src="data-images/diploma.svg" alt="">
                        </div>

                        <h3 class="h5 mb-2">Диплом</h3>
                        <p class="small mb-0">По итогу обучения присваивается квалификация, выдаются сертификаты утвержденного образца</p>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <section class="py-4 py-sm-5">
        <div class="container py-0 py-xl-4">
            <div class="row">
                <div class="col-lg-8 mb-4 mb-sm-5 pb-0 pb-xl-4">
                    <div class="d-flex justify-content-between align-items-end mb-5">
                        <h2 class="h1 m-0">Некоторые работы наших студентов</h2>
                        <a href="gallery.html" title="" class="h-more text-decoration-none">все работы<i class="fas fa-angle-right fa-xs ml-2"></i></a>
                    </div>

                    <div class="photo-swipe img-grid row" itemscope itemtype="http://schema.org/ImageGallery">
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="mb-4 col-md-4 col-6">
                            <a href="https://source.unsplash.com/Ui7EQF1y3Wg/2134x3201" itemprop="contentUrl" data-size="2134x3201">
                                <img src="https://source.unsplash.com/Ui7EQF1y3Wg/290x435" itemprop="thumbnail" alt="...">
                            </a>
                            <figcaption itemprop="caption description" class="d-none">Информация об изображении, если нужно</figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="mb-4 col-md-4 col-6">
                            <a href="https://source.unsplash.com/U7A-OvJxR74/2134x3201" itemprop="contentUrl" data-size="2134x3201">
                                <img src="https://source.unsplash.com/U7A-OvJxR74/290x435" itemprop="thumbnail" alt="...">
                            </a>
                            <figcaption itemprop="caption description" class="d-none">Информация об изображении, если нужно</figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="mb-4 col-md-4 col-6">
                            <a href="https://source.unsplash.com/jRXxNpA6d_k/2134x3201" itemprop="contentUrl" data-size="2134x3201">
                                <img src="https://source.unsplash.com/jRXxNpA6d_k/290x435" itemprop="thumbnail" alt="...">
                            </a>
                            <figcaption itemprop="caption description" class="d-none">Информация об изображении, если нужно</figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="mb-4 col-md-4 col-6">
                            <a href="https://source.unsplash.com/o1Dkmcgw0sE/1950x1301" itemprop="contentUrl" data-size="1950x1301">
                                <img src="https://source.unsplash.com/o1Dkmcgw0sE/290x193" itemprop="thumbnail" alt="...">
                            </a>
                            <figcaption itemprop="caption description" class="d-none">Информация об изображении, если нужно</figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="mb-4 col-md-4 col-6">
                            <a href="https://source.unsplash.com/OSpq-lp_ihk/1950x1301" itemprop="contentUrl" data-size="1950x1301">
                                <img src="https://source.unsplash.com/OSpq-lp_ihk/290x193" itemprop="thumbnail" alt="...">
                            </a>
                            <figcaption itemprop="caption description" class="d-none">Информация об изображении, если нужно</figcaption>
                        </figure>

                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" class="mb-4 col-md-4 col-6">
                            <a href="https://source.unsplash.com/LlOVWBaHU5E/1950x1301" itemprop="contentUrl" data-size="1950x1301">
                                <img src="https://source.unsplash.com/LlOVWBaHU5E/290x193" itemprop="thumbnail" alt="...">
                            </a>
                            <figcaption itemprop="caption description" class="d-none">Информация об изображении, если нужно</figcaption>
                        </figure>

                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 ml-auto">
                    <div class="border rounded p-4">
                        <h2 class="h3">Новости</h2>

                        <div class="news-item-sm mb-4">
                            <a href="news-item.html" title="" class="d-block stretched-link text-dark text-decoration-none mb-1">Нужны ли курсы повышения квалификации по маникюру?</a>
                            <span class="d-block text-uppercase">20 февраля</span>
                        </div>

                        <div class="news-item-sm mb-4">
                            <a href="news-item.html" title="" class="d-block stretched-link text-dark text-decoration-none mb-1">Выгодно ли заниматься педикюром?</a>
                            <span class="d-block text-uppercase">14 февраля</span>
                        </div>

                        <div class="news-item-sm mb-4">
                            <a href="news-item.html" title="" class="d-block stretched-link text-dark text-decoration-none mb-1">Короткие стрижки на кудрявые волосы</a>
                            <span class="d-block text-uppercase">9 февраля</span>
                        </div>

                        <div class="news-item-sm mb-4">
                            <a href="news-item.html" title="" class="d-block stretched-link text-dark text-decoration-none mb-1">Маникюр с древних времен до современности или как развивалось искусство украшения ногтей</a>
                            <span class="d-block text-uppercase">2 февраля</span>
                        </div>

                        <div class="news-item-sm mb-4">
                            <a href="news-item.html" title="" class="d-block stretched-link text-dark text-decoration-none mb-1">Использование парафина в косметике</a>
                            <span class="d-block text-uppercase">28 января</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pb-0 pb-sm-5 pt-0">
        <div class="container pb-0 pt-4 pb-sm-4">
            <div class="question-block px-3 py-4 py-sm-5 px-sm-5 mx-n3 mx-sm-auto">
                <div class="row">
                    <div class="col-xl-6 mb-4 mb-sm-5 mb-xl-0">
                        <h2 class="mb-3 pt-2">Остались вопросы?</h2>
                        <p class="mb-4">Просто оставьте их в форме обратной связи, и мы с радостью на них ответим. Либо свяжитесь с нами другим удобным для вас способом из раздела контактов.</p>
                        <a href="contacts.html" title="" class="h-more text-decoration-none text-dark">контакты<i class="fas fa-angle-right fa-xs ml-2"></i></a>
                    </div>

                    <div class="col-xl-6" id="FeedBackBlock">
                        <form class="needs-validation" novalidate>

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-label-group smaller mb-4">
                                        <input type="text" class="form-control" placeholder="Ваше имя" required>
                                        <label>Ваше имя</label>

                                        <div class="invalid-feedback">
                                            Это обязательное поле
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-label-group smaller mb-4">
                                        <input type="text" class="form-control" placeholder="E-mail или телефон" required>
                                        <label>E-mail или телефон</label>

                                        <div class="invalid-feedback">
                                            Это обязательное поле
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-label-group textarea smaller mb-4">
                                <textarea class="form-control" rows="4" placeholder="Ваше сообщение" required></textarea>
                                <label>Ваше сообщение</label>

                                <div class="invalid-feedback">
                                    Это обязательное поле
                                </div>
                            </div>

                            <div class="d-flex justify-content-between flex-column flex-lg-row mb-4 mb-lg-0">
                                {% include '__recaptcha.html' %}
                                <p class="m-0 smallest">Нажимая кнопку <span class="text-nowrap">"<i class="fas fa-paper-plane fa-sm mr-1"></i>отправить"</span>, вы даёте согласие на <a href="content.html" target="_blank">обработку персональных данных</a></p>
                            </div>

                            <button class="btn btn-white mb-2" type="submit"><i class="fas fa-paper-plane mr-3"></i>Отправить</button>
                        </form>

                        <!--
                        <div class="alert alert-danger alert-dismissible fade small show" role="alert">
                        <strong>Произошла ошибка! </strong>Обновите страницу и попробуйте ещё раз.
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        -->

                                                        <!--
                        <div class="form-success d-flex justify-content-center align-items-center">
                        <div class="text-center">
                        <i class="far fa-check-circle fa-5x text-dark mb-4"></i>
                        <h3 class="h5 mb-1 mt-0">Спасибо за ваше сообщение!</h3>
                        <p class="small">Мы получили его, и скоро с вами свяжемся.</p>
                        </div>
                        </div>
                        -->

                    </div>
                </div>
            </div>
        </div>
    </section>

</main>
{% endblock %}