{% extends 'base.html' %}

{% block content %}
<main role="main">
    <div class="container py-4 py-md-5">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item"><a href="dropdown-content.html">Аспирантам</a></li>
            <li class="breadcrumb-item active">Процесс обучения</li>
        </ol>

        <article>
            <h1 class="mt-0">{{ flatpage.title }}</h1>
            {{ flatpage.content|safe }}
        </article>
    </div>
</main>

{% include '__photoswipe.html' %}

{% endblock %}