{% extends 'lo/base.html' %}

{% block content %}
 <div class="page">
    <h1>Сведения об образовательной организации</h1><br>

    <div class="hentry">
        <h2>Информация размещена во исполнение:</h2>
        {% for item in executions %}
        <a href="{{ item.document.url }}" target="_blank" >{{ item.title }}</a><br>
        {% endfor %}<br>

        <h2>Основные сведения</h2>
        {{ info.info|safe }}<br>

        <h2>Структура и органы управления образовательной организацией</h2>
        {% for item in structures %}
        <a href="{{ item.get_absolute_url }}">{{ item.title|striptags }}</a><br>
        {% endfor %}<br>

        <h2>Документы</h2>
        {% for item in documents %}
        <a href="{{ item.document.url }}" target="_blank">{{ item.title }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}